snippet crg "repo git" b
{
    "type": "git",
    "url": "${1:url}"
}${0}
endsnippet

snippet crp "repo path" b
{
    "type": "path",
    "url": "${1:path}"
}${0}
endsnippet

snippet autoload "composer autoload PSR4" b
"autoload": {
    "psr-4": {
        "${1:Company\\Sub}\\\\": "${2:src/}"
    }
},
$0
endsnippet

snippet asset-repo "Configuration for asset repository (npm packages) " b
{
    "type": "composer",
    "url": "https://asset-packagist.org"
}
$0
endsnippet
