snippet xdebug "min xdebug config" b
# Minimal conf for xdebug. See https://blog.jetbrains.com/phpstorm/2016/10/webinar-recording-step-into-debugging-with-phpstorm/
xdebug.remote_enable = 1
xdebug.remote_connect_back= 1
${0}
endsnippet
