snippet package_encore_scripts "symfony encore scripts" b
"dev-server": "encore dev-server",
"dev": "encore dev",
"watch": "encore dev --watch",
"build": "encore production --progress"
$0
endsnippet

snippet package_encore_dev_server "symfony/encore dev server listing on all interfaces" b
"dev-server": "encore dev-server --host 0.0.0.0 --port 8080"
$0
endsnippet
