snippet gems_rubymine "RubyMine debugger gems" b
group :test, :development do
  gem 'ruby-debug-ide'
  # debase is required by ruby-debug-ide so should be installed automatically
  # gem 'debase'
end
${0}
endsnippet
