[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/snippets"]
	path = bundle/snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mv-utils"]
	path = bundle/vim-addon-mv-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/vim-puppet"]
	path = bundle/vim-puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule "bundle/wordpress"]
	path = bundle/wordpress
	url = https://github.com/dsawardekar/wordpress.vim.git
[submodule "bundle/vim-wordpress-snippets"]
	path = bundle/vim-wordpress-snippets
	url = https://github.com/sudar/vim-wordpress-snippets.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/vim-systemd-syntax"]
	path = bundle/vim-systemd-syntax
	url = https://github.com/Matt-Deacalion/vim-systemd-syntax.git
[submodule "bundle/vim-signature"]
	path = bundle/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule "bundle/bash-support"]
	path = bundle/bash-support
	url = https://github.com/vim-scripts/bash-support.vim.git
[submodule "bundle/vim-javascript-syntax"]
	path = bundle/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule "bundle/cmake-syntax"]
	path = bundle/cmake-syntax
	url = https://github.com/vim-scripts/cmake.vim-syntax.git
[submodule "bundle/js-libraries-syntax"]
	path = bundle/js-libraries-syntax
	url = https://github.com/othree/javascript-libraries-syntax.vim.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "bundle/spec.vim"]
	path = bundle/spec.vim
	url = https://github.com/vim-scripts/spec.vim.git
[submodule "bundle/html5-syntax.vim"]
	path = bundle/html5-syntax.vim
	url = https://github.com/othree/html5-syntax.vim.git
[submodule "bundle/jsdoc-syntax.vim"]
	path = bundle/jsdoc-syntax.vim
	url = https://github.com/othree/jsdoc-syntax.vim
[submodule "bundle/vim-logrotate"]
	path = bundle/vim-logrotate
	url = https://github.com/moon-musick/vim-logrotate.git
