[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/snippets"]
	path = bundle/snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mv-utils"]
	path = bundle/vim-addon-mv-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/vim-snipmate"]
	path = bundle/vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/vim-puppet"]
	path = bundle/vim-puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule "bundle/wordpress"]
	path = bundle/wordpress
	url = https://github.com/dsawardekar/wordpress.vim.git
[submodule "bundle/vim-wordpress-snippets"]
	path = bundle/vim-wordpress-snippets
	url = https://github.com/sudar/vim-wordpress-snippets.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/vim-systemd-syntax"]
	path = bundle/vim-systemd-syntax
	url = https://github.com/Matt-Deacalion/vim-systemd-syntax.git
[submodule "bundle/vim-signature"]
	path = bundle/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule "bundle/bash-support"]
	path = bundle/bash-support
	url = https://github.com/vim-scripts/bash-support.vim.git
[submodule "bundle/vim-javascript-syntax"]
	path = bundle/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax.git
[submodule "bundle/cmake-syntax"]
	path = bundle/cmake-syntax
	url = https://github.com/vim-scripts/cmake.vim-syntax.git
[submodule "bundle/js-libraries-syntax"]
	path = bundle/js-libraries-syntax
	url = https://github.com/othree/javascript-libraries-syntax.vim.git
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "bundle/spec.vim"]
	path = bundle/spec.vim
	url = https://github.com/vim-scripts/spec.vim.git
[submodule "bundle/html5-syntax.vim"]
	path = bundle/html5-syntax.vim
	url = https://github.com/othree/html5-syntax.vim.git
[submodule "bundle/jsdoc-syntax.vim"]
	path = bundle/jsdoc-syntax.vim
	url = https://github.com/othree/jsdoc-syntax.vim
[submodule "bundle/vim-logrotate"]
	path = bundle/vim-logrotate
	url = https://github.com/moon-musick/vim-logrotate.git
[submodule "bundle/indentLine"]
	path = bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "bundle/vim-closetag"]
	path = bundle/vim-closetag
	url = https://github.com/alvan/vim-closetag.git
[submodule "bundle/rainbow"]
	path = bundle/rainbow
	url = https://github.com/luochen1990/rainbow.git
[submodule "bundle/node"]
	path = bundle/node
	url = https://github.com/moll/vim-node.git
[submodule "bundle/rspec.vim"]
	path = bundle/rspec.vim
	url = https://github.com/keith/rspec.vim.git
[submodule "bundle/Dockerfile"]
	path = bundle/Dockerfile
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule "bundle/zeavim"]
	path = bundle/zeavim
	url = https://github.com/KabbAmine/zeavim.vim.git
[submodule "bundle/vim-notes"]
	path = bundle/vim-notes
	url = https://github.com/xolox/vim-notes.git
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "bundle/vim-projectlocal"]
	path = bundle/vim-projectlocal
	url = https://github.com/krisajenkins/vim-projectlocal.git
[submodule "bundle/bootstrap-snippets"]
	path = bundle/bootstrap-snippets
	url = https://github.com/bonsaiben/bootstrap-snippets.git
[submodule "bundle/fzf"]
	path = bundle/fzf
	url = https://github.com/junegunn/fzf.vim.git
[submodule "bundle/vdebug"]
	path = bundle/vdebug
	url = https://github.com/joonty/vdebug.git
[submodule "bundle/vison"]
	path = bundle/vison
	url = https://github.com/Quramy/vison.git
[submodule "vison/schema_store"]
	path = vison/schema_store
	url = https://github.com/SchemaStore/schemastore.git
[submodule "bundle/characterize"]
	path = bundle/characterize
	url = https://github.com/tpope/vim-characterize
[submodule "bundle/vim-devicons"]
	path = bundle/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "bundle/undotree"]
	path = bundle/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "bundle/LargeFile"]
	path = bundle/LargeFile
	url = https://github.com/vim-scripts/LargeFile.git
[submodule "bundle/vim-dirdiff"]
	path = bundle/vim-dirdiff
	url = git://github.com/will133/vim-dirdiff
[submodule "bundle/scratch.vim"]
	path = bundle/scratch.vim
	url = https://github.com/vim-scripts/scratch.vim.git
[submodule "bundle/editorconfig-vim"]
	path = bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "bundle/vim-better-whitespace"]
	path = bundle/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace
[submodule "bundle/yats.vim"]
	path = bundle/yats.vim
	url = https://github.com/HerringtonDarkholme/yats.vim.git
