snippet sfRegisterTestService "Symfony - register service in test env" b
test.`!p snip.rv = t[1].lower().replace('\\', '.')`:
  alias: '${1:App\Service\Foo}'
  public: true
$0
endsnippet

snippet sfAppMonologHandler "Symfony - monolog handler for app channel" b
applog:
    type: rotating_file
    path: "%kernel.logs_dir%/app.log"
    level: debug
    channels: [app]
    max_files: 60
$0
endsnippet
