snippet toastContainer "react-toast container" b
import { toast, ToastContainer } from 'react-toastify';
<ToastContainer
    position={toast.POSITION.TOP_RIGHT}
    pauseOnFocusLoss={true}
    pauseOnHover={true}
    autoClose={5000}
    draggable={false}
/>
$0
endsnippet
